selenium~=4.24.0
pandas~=2.2.3
numpy~=1.26.4
torch~=2.6.0
torchvision~=0.21.0
matplotlib~=3.10.0
opencv-python~=4.11.0.86
torchaudio
pycocotools 
git+https://github.com/facebookresearch/segment-anything.git
pillow~=11.1.0
tensorflow~=2.19.0
keras~=3.9.0
pytesseract~=0.3.13
scikit-learn
ultralytics
tqdm
